.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: rgb(9, 81, 9);
  color: antiquewhite;
  box-shadow: 24px;
  padding: 10px;
  outline: 0;
  border-radius: 10px;
}

.rules_container {
  font-size: 12px;
}

.start_game_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  background-color: #3686d5;
  color: white;
  padding: 15px 45px;
}

.deal_cards_button {
  margin: 15px;
  font-size: 24px;
  font-weight: 600;
  background-color: #3686d5;
  color: white;
}

.deal_cards_button:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1200px) {
  .box {
    width: 600px;
  }

  .rules_container {
    font-size: 16px;
  }
}