.modal_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}