


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;

}

body {
  background-color: rgb(2, 85, 2);
  text-align: center;
  padding-top: 20px;
}


h2 {
  font-size: 32px;
}
